Agenda
1.Numeros
2.Variables
3.Manejo de cadenas
4.Ingreso por el teclado
5.Operadoress

5. Operadores

In [1]:
#5.1 operadores aritmeticos

In [6]:
numero1 = 10
numero2 = 13
suma = numero1 + numero2
resta = numero1 - numero2
multi = numero1 * numero2
div = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multi)
print(div)
print(residuo)
print(cociente)
print(potencia)

23
-3
130
0.7692307692307693
10
0
10000000000000

In [8]:
# 5.2 Operadores de asignación
numero = 10
numero = numero + 3
print(numero)

13

In [9]:
numero = 7
numero += 3
print(numero)

10

In [10]:
numero = 5
numero = numero ** 3
print(numero)

125

In [11]:
# 5.3 Operadores de comparación

In [13]:
# Ejemplo de igualdad ==
numero1 = 6
numero2 = 5
numero1 == numero2

False

In [15]:
# Con las cadenas funciona igual
nombre1 = "Maria"
nombre2 = "Maria"
nombre1 == nombre2

True

In [16]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 3
numero2 = 4
numero3 = 5
numero4 = 6

In [17]:
numero1 < numero2

True

In [18]:
# El not invierte el resultado
not(numero1<numero2)

False

In [19]:
# Miremos un ejemplo:

In [20]:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [21]:
# ¿Diego está en aula?
alumno1 in aula

False

In [22]:
# ¿Juan está en aula?
alumno2 in aula

True

In [23]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [24]:
aula1 = ["Maria", "Alvaro", "Rubi"]
aula2 = ["Maria", "Alvaro", "Rubi"]
# A continuación vamos a indicar que aula3 va a
# compartir el mismo objeto que aula1
aula3 = aula1

In [25]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [26]:
# ¿ aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [28]:
aula1.append("Maria")

In [29]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Maria', 'Alvaro', 'Rubi', 'Diego', 'Maria']

In [30]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Maria', 'Alvaro', 'Rubi', 'Diego', 'Maria']

In [31]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Maria', 'Alvaro', 'Rubi']